@using Microsoft.AspNetCore.Identity
@model List<IdentityUser>

<h2>Registered Members</h2>
<table class="table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>